@model List<MisafirDetay>

<section class="content-header bg-dark">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6 mt-2 ml-3">
                <h1 class="">Misafir Listesi</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
                <table id="misafirList" class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                MİSAFİR ID
                            </th>
                            <th>
                                AD
                            </th>
                            <th>
                                SOYAD
                            </th>
                            <th>
                                DOĞUM TARİHİ
                            </th>
                            <th>
                                CİNSİYET
                            </th>
                            <th>
                                UYRUK
                            </th>
                            <th>

                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var misafir in Model)
                        {
                            <tr>
                                <td>@misafir.MusteriId</td>
                                <td>@misafir.Ad.ToUpper()</td>
                                <td>@misafir.Soyad.ToUpper()</td>
                                <td>@misafir.DogumTarihi</td>
                                <td>@misafir.Cinsiyet</td>
                                <td>@misafir.Uyruk</td>
                            
                            <td>
                                    <a asp-controller="Rezervasyon" asp-action="MisafirGuncelle" asp-route-Id="@misafir.Id" type="button" class="btn btn-dark"><i class="fas fa-edit"></i> </a>
                            </td>
                            <td>
                                    <button class="btn btn-danger" onclick="onaylaMisafirSil(@misafir.Id)"><i class="fas fa-trash"></i></button>
                            </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
        <div class="row pt-3 pb-2">
            <div class="col-md-2 ml-4">
                <a asp-controller="Rezervasyon" asp-action="MisafirEkle" type="button" class="btn btn-dark" style="width:200px">Misafir Ekle</a>
            </div>
            <div class="col-md-2">
                <a asp-controller="Rezervasyon" asp-action="KullanimdaRezervasyonlar" type="button" class="btn btn-dark" style="width:200px">Geri Dön</a>
            </div>
        </div>
    </div>
</div>

        <script>
    function onaylaMisafirSil(id) {
        if (confirm('Bu misafiri silmek istediğinize emin misiniz?')) {
            window.location.href = '/Rezervasyon/MisafirSil?Id=' + id; // Silme işlemi yapılacak URL
        } else {
            // Kullanıcı onay vermezse bir işlem yapmayabilirsiniz veya isteğe bağlı bir mesaj gösterebilirsiniz.
        }
    }
        </script>