@model List<Oda>

<section class="content-header bg-dark">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6 mt-2 ml-3">
                <h1 class="">Oda Listesi</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->


<div class="row">
    <div class="col-12">
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example2" class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                ODA NO
                            </th>
                            <th>
                                KAT NO
                            </th>
                            <th>
                                ODA TİPİ
                            </th>
                            <th>
                                FİYAT
                            </th>
                            <th>
                                ALAN
                            </th>
                            <th>
                                KAPASİTE
                            </th>
                            <th>
                                YATAK DÜZENİ
                            </th>
                            <th>
                                DURUM
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var oda in Model)
                        {
                            <tr>
                                <td>@oda.OdaNo</td>
                                <td>@oda.KatNo</td>
                                <td>@oda.OdaTipi</td>
                                <td>@oda.Fiyat</td>
                                <td>@oda.Alan</td>
                                <td>@oda.Kapasite</td>
                                <td>@oda.YatakDuzeni</td>
                                @{
                                    switch (@oda.Durum)
                                    {
                                        case 0:
                                            <td>Kullanıma Hazır</td>
                                            break;

                                        case 2:
                                            <td>Temizlenmeli</td>
                                            break;

                                    }
                                }
                                <td>
                                    <a asp-controller="Rezervasyon" asp-action="RezervasyonCheckIn" asp-route-OdaNo="@oda.OdaNo" type="button" class="btn btn-dark">Seç</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
        <a asp-controller="Rezervasyon" asp-action="KullanimdaRezervasyonlar" class="btn btn-lg btn-dark ml-4" style="width:200px">Geri Dön</a>
    </div>
</div>
